<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/js/RecordRTC.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
</head>

<body>
    {{{body}}}

    <footer>
        <p class="logo">&copy; 2017 Lingtelli, Inc.</p> 
    </footer>
</body>
</html>
